fastapi[all]
pre_commit
requests
uvicorn
pydantic
httpx
python-dotenv
click
starlette
pydantic_core
typing_inspection
typing_extensions
sniffio
annotated_types
anyio
h11
cfgv
identify
PyYAML
python-multipart
pydantic-settings
PyPDF2
virtualenv
platformdirs
filelock
distlib
paddleocr
ipykernel
paddlex
colorlog
urllib3
idna
certifi
numpy
chardet
ruamel.yaml
GPUtil
setuptools
pillow
pandas
paddle
prettytable
opencv-contrib-python
pypdfium2
dual
tight
prox
paddlepaddle-gpu
paddlex[ocr]
